@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
	--primary: #ccaa10;
	--secondary: #DCB609;
}

body {
	margin: 0px;
}


/* Landing */

div.landing {
	background-color: var(--primary);
	display: flex;
	height: calc(100vh - 70px);
}

.landing .logo {
	position: absolute; top: 20px; left: 20px;
	height: 150px;
}

.landing h1 {
	margin: auto;
	color:  white;
	font-family: lato, arial, sans-serif;
	font-size: 4em;
	text-transform: uppercase;
}

.landing .social {
	position: absolute; top: 20px; left: calc(50vw - 50px);
	width: 100px;
	display: flex; justify-content: center;
}

.landing .social a, header .social a {
	transition: .1s;
}

.landing .social a:hover, header .social a:hover {
	transform: scale(1.1);
}

.landing .social a i {
	margin-right: 10px; margin-left: 10px;
	color: white;
	font-size: 1.5em;
}


/* Header */

header {
	position: sticky; top: 0px; left: 0px;
	height: 70px;
	transition: .25s;
	display: flex;
	justify-content: left;
	align-items: center;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}

header .logo-link {
	opacity: 0;
	display: block;
	height: 60px;
	margin-left: 20px;
	transition: .5s;
}

header .logo-link .logo {
	height: 60px;
}

header.top .logo-link, header.top .title-link h1, header.top .social {
	opacity: 1;
}

header .title-link {
	margin-left: 10px;
}

header .title-link h1 {
	opacity: 0;
	color: var(--primary);
	font-family: lato, arial, sans-serif;
	font-size: 2em;
	text-transform: uppercase;
	transition: .5s;
}

.header-link {
	text-decoration: none;
	transition: .5s;
}

.header-link:hover {
	filter: brightness(1.1);
}


header .social {
	opacity: 0;
	transition: .5s;
	position: absolute; top: calc(35px - .5em); left: calc(50vw - 50px);
	width: 100px;
	display: flex; justify-content: center;
}

header .social a i {
	margin-right: 5px; margin-left: 5px;
	color: var(--primary);
	font-size: 1em;
}

header nav {
	position: absolute; right: 0px; top: 0px;
	display: flex;
	justify-content: right;
	align-items: center;
}

header nav a {
	display: block;
	font-family: lato, arial, sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: var(--primary);
	height: 1.25em;
	vertical-align: middle;
	padding-top: calc(32px - .5em);
	padding-bottom: calc(33px - .5em);
	line-height: normal;
	padding-right: 20px; padding-left: 20px;
	transition: .25s;
}

/* header nav a::after {
    content: "";
    display: block;
    height: 2px;
    width: 0%;
    background-color: var(--primary);
    margin: 0px 50%;
    transition: 0.2s;
}

header nav a:hover::after {
    content: "";
    display: block;
    height: 2px;
    width: 70%;
    background-color: var(--primary);
    margin: 0px 15%;
    transition: 0.2s;
} */

header nav a:hover {
	color: white;
	background-color: var(--primary);
}