@font-face {
	font-family: 'Cinzel';
	src: url('assets/fonts/Cinzel-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Sarkowik';
	src: url('assets/fonts/Sarkowik.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'CaviarDreams';
	src: url('assets/fonts/CaviarDreams.ttf');
	font-weight: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}



/* Landing Page */

#landing {
	background-color: #fff;
	background-image: url('assets/toul-ru.webp');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}

#landing {
	position: relative;
	width: 100%; height: 100vh;
	padding-bottom: 18.4vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	mask: url('assets/gradient-bottom.svg') bottom center / cover no-repeat;
	-webkit-mask: url('assets/gradient-bottom.svg') bottom center / cover no-repeat;
}

#landing .title {
	margin: 5vh 0 10vh 0;
}

#landing h1 {
	font-family: 'Sarkowik';
	font-size: 18vh;
	font-weight: normal;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
	transform: scale(0);
}
#landing.visible h1 {
	transform: scale(1);
	transition: transform .5s ease-in-out;
}

#landing .title hr {
	border: none;
	border-top: .75vh solid white;
	margin: 10px 0; margin-left: 50%;
	width: 0;
}
#landing.visible .title hr {
	width: 150%; margin-left: 0;
	transition: width .5s ease-in-out, margin-left .5s ease-in-out;
	transition-delay: .5s;
}

#landing h2 {
	font-family: 'CaviarDreams';
	font-size: 10vh;
	font-weight: normal;
	margin: 0 auto;
	text-align: center;
	width: 0; overflow: hidden;
	white-space: nowrap;
}
#landing.visible h2 {
	width: 100%;
	transition: width .5s ease-in-out, margin .5s ease-in-out;
	transition-delay: 1s;
}

#landing .subtitle {
	font-family: 'Cinzel';
	font-size: 6vh;
	color: #fff;
	text-align: center;
	margin: 0;
	opacity: 0;
	transform: translateY(-3vh);
}
#landing.visible .subtitle {
	opacity: 1;
	transform: translateY(0);
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
	transition-delay: 1.5s;
}

#landing nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0; padding: 0;
}

#landing nav ul li {
	margin: 0 10px;
	opacity: 0;
	transform: translateY(20vh);
}
#landing nav ul li.visible {
	opacity: 1;
	transform: translateY(0);
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
	transition-delay: 2s;
}

#landing nav ul li a {
	font-family: 'Cinzel';
	color: #fff;
	text-decoration: none;
	padding: 2vh;
	border-radius: 100px;
	background-color: rgba(255, 255, 255, 0.5);
	font-size: 4vh;
	transition: background .5s, border .5s;
	border: 1px solid transparent;
}

#landing nav ul li a:hover {
	background-color: rgba(255, 255, 255, 0.8);
	border: 1px solid black;
}

#landing .socials {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0; padding: 0;
	position: absolute; top: -18.4vh; bottom: 0; right: 0;
}

#landing .socials a {
	text-decoration: none;
	display: flex;
	height: 3em; width: 4em;
	margin: 5px 0;
	margin-right: -4em;
	opacity: 0;
}
#landing .socials a.visible {
	opacity: 1;
	margin-right: 10px;
	transition: opacity .5s ease-in-out, margin-right .5s ease-in-out;
	transition-delay: 2s;
}

#landing .socials a i {
	margin:auto;
	font-size: 3em;
	color: #fff;
	transition: color .25s;
}

#landing .socials a:hover i.fa-youtube {
	color: #ff0000;
}
#landing .socials a:hover i.fa-facebook {
	color: #3b5998;
}
#landing .socials a:hover i.fa-instagram {
	color: #e1306c;
}

/* Animation */

.apparition-anim.zoomopa {
	transform: scale(0);
	opacity: 0;
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}
.apparition-anim.zoomopa.visible {
	opacity: 1;
	transform: scale(1);
}

/* Réalisations */

#realisations {
	margin-bottom: 30px;
}

#realisations h1 {
	margin-bottom: 30px;
}

#realisations .img-gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0; padding: 0;
}

#realisations .img-gallery .item {
	width: calc(18vw - 10px); height: calc(18vw - 10px);
	display: block;
	margin: 5px;
	object-fit: cover;
}
#realisations .img-gallery .item:hover {
	transform: scale(1.1);
	z-index: 1;
}

#realisations .img-gallery .item:nth-child(8n+4), #realisations .img-gallery .item:nth-child(8n+5) {
	width: calc(36vw - 10px);
}

#realisations .ytb-gallery {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 0; padding: 0; margin-bottom: 30px;
}

#realisations .ytb-gallery .item {
	width: calc(30vw - 10px); height: calc(16.9vw - 10px);
	margin: 5px;
	border: none;
}



/* Prestations */

#prestations {
	position: relative;
}

section h1 {
	text-align: center;
	font-family: 'Cinzel';
	font-size: 3em;
	font-weight: normal;
	margin: 0;
}

#prestation h1 {
	position: absolute;
	top: 5px; left: 0; right: 0;
}

.prestation {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	mask: url('assets/mask.svg#mask') 0 0 / 100% 100%;
	-webkit-mask: url('assets/mask.svg#mask') 0 0 / 100% 100%;
	padding: 20px 0;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.prestation:nth-child(even) {
	align-items: flex-start;
}
.prestation:nth-child(odd) {
	align-items: flex-end;
}

#film-institutionnel {
	background-image: url('assets/cala-beltran.webp');
}
#film-publicitaire {
	background-image: url('assets/marais-salant-soir.webp');
}
#film-evenementiel {
	background-image: url('assets/merquel-phare.webp');
}

.prestation .content {
	margin-top: auto; margin-bottom: auto;
	background: rgba(255, 255, 255, 0.5);
	padding: 40px;
	width: 44vw;
}
.prestation:nth-child(even) .content {
	border-radius: 0 100% 100% 0;
	padding-right: 5vw;
}
.prestation:nth-child(even) .content.apparition-anim {
	transform: translateX(-60vw);
	transition: transform .5s;
}
.prestation:nth-child(odd) .content {
	border-radius: 100% 0 0 100%;
	padding-left: 80px; padding-bottom: 5vw; padding-top: 3vw
}
.prestation:nth-child(odd) .content.apparition-anim {
	transform: translateX(60vw);
	transition: transform .5s;
}
.prestation .content.apparition-anim.visible {
	transform: translateX(0);
}

.prestation .content h2 {
	font-family: 'CaviarDreams';
	font-size: 7vh;
	font-weight: normal;
	margin: 0;
	width: 10px;
}
.prestation:nth-child(odd) .content h2 {
	margin-left: 40px;
}

.prestation .content p {
	font-family: calibri;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0; margin-top: 20px;
}
.prestation:nth-child(even) .content p {
	margin-left: 40px;
}



/* Contact */

#contact {
	margin-top: 30px; margin-bottom: 50px;
}

#contact table {
	margin-left: auto; margin-right: auto; margin-top: 20px;
	font-family: 'CaviarDreams';
	border-collapse: collapse;
}

#contact table tr + tr {
	border-top: .5px solid #acacac;
}

#contact table td {
	padding: 10px;
	text-align: center;
}



/* Footer */

footer {
	background-color: #fff;
	padding: 20px 0;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px 0 #696969;
}

footer p {
	margin: 0;
	font-family: 'CaviarDreams';
	font-size: 1em;
}