@font-face {
	font-family: 'Cinzel';
	src: url('assets/fonts/Cinzel-Regular.otf');
	font-weight: normal;
}
@font-face {
	font-family: 'Sarkowik';
	src: url('assets/fonts/Sarkowik.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'CaviarDreams';
	src: url('assets/fonts/CaviarDreams.ttf');
	font-weight: normal;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

/* Landing Page */

#landing {
	position: relative;
	width: 100%; height: 100vh;
	padding-bottom: 15vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	mask: url('assets/gradient-bottom.svg') bottom center / cover no-repeat;
	-webkit-mask: url('assets/gradient-bottom.svg') bottom center / cover no-repeat;
	
	background: fixed #fff url('assets/toul-ru.webp') center no-repeat;
	background-size: cover;
}

#landing .backdrop {
	width: 60vw;
    height: 120vh;
    position: absolute;
    top: 0;
    left: 20vw;
    background-color: rgba(0,0,0,.1);
    z-index: -10;
	box-shadow: 0 0 5vw 3vw rgba(0,0,0,.1);
}

#landing .title {
	margin: 5vh 0 10vh 0;
}

#landing h1 {
	font-family: 'Sarkowik';
	font-size: 8rem;
	font-weight: normal;
	margin: 0;
	text-align: center;
	overflow-x: hidden;
	transform: scale(0);
}
#landing.visible h1 {
	transform: scale(1);
	transition: transform .5s ease-in-out;
}

#landing .title hr {
	border: none;
	border-top: .75vh solid white;
	margin: 10px 0; margin-left: 50%;
	width: 0;
}
#landing.visible .title hr {
	width: 75%; margin: 10px auto;
	transition: width .5s ease-in-out, margin-left .5s ease-in-out;
	transition-delay: .5s;
}

#landing h2 {
	font-family: 'CaviarDreams';
	font-size: 4.5rem;
	font-weight: normal;
	margin: 0 auto;
	text-align: center;
	width: 0; overflow: hidden;
	white-space: nowrap;
}
#landing.visible h2 {
	width: 100%;
	transition: width .5s ease-in-out, margin .5s ease-in-out;
	transition-delay: 1s;
}

#landing .subtitle {
	font-family: 'Cinzel';
	font-size: 3rem;
	color: #fff;
	text-align: center;
	margin: 0;
	opacity: 0;
	transform: translateY(-3vh);
}
#landing.visible .subtitle {
	opacity: 1;
	transform: translateY(0);
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
	transition-delay: 1.5s;
}

nav {
	position: fixed; top: 0; right: 0;
	z-index: 10;
	width: 15rem; height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;

	pointer-events: none;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	list-style: none;
	margin: 0; padding: 0;
	margin-right: 5px;
	width: 100%;
}

nav li {
	width: 100%;
	display: flex; flex-direction: row;
	justify-content: flex-end;
}

nav li a {
	pointer-events: none;
	font-family: 'Cinzel';
	color: white;
	text-decoration: none;
	display: flex; flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	display: flex;
	height: 1.5rem;
	padding: .25rem .5rem;
	border-radius: 2em;
	background-color: transparent;
	transition: background-color .25s ease-in-out;
}
nav li a:hover {
	background-color: rgba(0,177,169,.5);
	pointer-events: all;
}

nav li a span {
	font-size: 1.5rem;
	margin-right: 10px;
	transform: translateY(-.15rem);
	opacity: 0;
	transition: opacity .25s ease-in-out;
}
nav li a:hover span {
	opacity: 1;
}

nav li:not(.goto-top) a::after {
	content: '';
	display: block;
	width: 1rem; height: 1rem;
	border-radius: 50%;
	border: 4px solid #00B1A9;
	opacity: 1;
	pointer-events: all;
	box-shadow: 0 0 2rem 0 #fff;
	transition: border .25s ease-in-out, background-color .25s ease-in-out;
}
nav li a:hover::after {
	border: 4px solid #fff;
}

nav li.current a::after {
	background-color: #00B1A9;
}
nav li.current a:hover::after {
	background-color: #fff;
}

nav li.goto-top a {
	pointer-events: all;
	font-size: 1.5rem;
	color: #00B1A9;
	transition: font-size .25s ease-in-out, background-color .25s ease-in-out, color .25s ease-in-out;
	width: 1.5rem; height: auto;
	display: flex;
	justify-content: center; align-items: center;
}
nav li.goto-top a i::before {
	text-shadow: 0 0 2rem #fff;
}
body.top nav li.goto-top a {
	font-size: 0;
	pointer-events: none;
	padding: 0;
}

nav li.goto-top a:hover {
	color: #fff;
}


/* Animation */

.apparition-anim.zoomopa {
	transform: scale(0);
	opacity: 0;
	transition: opacity .5s ease-in-out, transform .5s ease-in-out;
/* }
.apparition-anim.zoomopa.visible { */
	opacity: 1;
	transform: scale(1);
}

/* Réalisations */

#realisations {
	margin-bottom: 30px;
}

#realisations h1 {
	margin-bottom: 30px;
}

#realisations .img-gallery {
	width: 90vw;
	margin: 3rem auto 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-column-gap: 1vw;
	grid-row-gap: 1vw;
	grid-auto-flow: row dense;
}

#realisations .img-gallery .item {
	width: 100%; height: 100%;
	display: block;
	aspect-ratio: 1/1;
	object-fit: cover;
}
#realisations .img-gallery .item:hover {
	transform: scale(1.1);
	z-index: 1;
}

#realisations .img-gallery .item:nth-child(8n+4), #realisations .img-gallery .item:nth-child(8n+5) {
	grid-column: span 2;
	aspect-ratio: 2/1;
}

#realisations .ytb-gallery {
	width: 90vw;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 1vw;
	grid-row-gap: 1vw;
	grid-auto-flow: row dense;
}

#realisations .ytb-gallery .item {
	width: 100%; height: 100%;
	display: block;
	aspect-ratio: 16/9;
	object-fit: cover;
	border: none;
}



/* Prestations */

#prestations {
	position: relative;
}

section h1 {
	text-align: center;
	font-family: 'Cinzel';
	font-size: 3em;
	font-weight: normal;
	margin: 0;
}

#prestation h1 {
	position: absolute;
	top: 5px; left: 0; right: 0;
}

.prestation {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	mask: url('assets/mask.svg#mask') 0 0 / 100% 100%;
	-webkit-mask: url('assets/mask.svg#mask') 0 0 / 100% 100%;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}
.prestation:nth-child(even) {
	align-items: flex-start;
}
.prestation:nth-child(odd) {
	align-items: flex-end;
}

.prestation::before {
	content: '';
	position: fixed; top: 0; left: 0;
	width: 100%; height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	transform: scale( var(--step) );
}

#film-institutionnel::before {
	background-image: url('assets/cala-beltran.webp');
}
#film-publicitaire::before {
	background-image: url('assets/marais-salant-soir.webp');
}
#film-evenementiel::before {
	background-image: url('assets/merquel-phare.webp');
}

.prestation .content {
	margin: auto;
	display: flex; flex-direction: column;
	justify-content: center; align-items: center;
	background: rgba(0,0,0, .2);
	padding: 0; padding: 10%;
	width: 80%; height: 80%;
	position: relative;
	color: #fff;
}

.prestation .content h2 {
	font-family: 'CaviarDreams';
	font-size: 7vh;
	font-weight: normal;
	margin: 0;
	width: fit-content;
}
.prestation .content p {
	font-family: calibri;
	font-size: 1.5em;
	font-weight: normal;
	margin: 1em 0 0 5%;
	width: 100%;
}



/* Contact */

#contact {
	margin-top: 30px; margin-bottom: 50px;
}

#contact table {
	margin-left: auto; margin-right: auto; margin-top: 20px;
	font-family: 'CaviarDreams';
	border-collapse: collapse;
}

#contact table tr + tr {
	border-top: .5px solid #acacac;
}

#contact table td {
	padding: 10px;
	text-align: center;
}

#contact .socials {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0; padding: 0;
}

#contact .socials a {
	text-decoration: none;
	display: flex;
	height: 3em; width: 4em;
	margin: 5px 0;
}

#contact .socials a i {
	margin:auto;
	font-size: 3em;
	color: #000;
	transition: color .25s;
}

#contact .socials a:hover i.fa-youtube {
	color: #ff0000;
}
#contact .socials a:hover i.fa-facebook {
	color: #3b5998;
}
#contact .socials a:hover i.fa-instagram {
	color: #e1306c;
}


/* Footer */

footer {
	background-color: #fff;
	padding: 20px 0;
	margin-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow: 0 0 5px 0 #696969;
}

footer p {
	margin: 0;
	font-family: 'CaviarDreams';
	font-size: 1em;
}